.App {
  min-height: 100vh;
  overflow: hidden;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  main {
    padding: 10px;
  }
}

.light {
  background: var(--bg-light);
  color: var(--text-light);
  --text-color: var(--text-light);
}

.dark {
  background: linear-gradient(135deg, #1f1c2c 0%, #928dab 100%);
  min-height: 100vh;
  color: var(--text-dark);
  --text-color: white;
}

.dark .App {
  background: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
} 